<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>cargar gulliet...</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">

    <link rel="stylesheet" href="css/cargar.css">
</head>

<body>
<!--  pagian de cargar falta aun el lado de el cliente donde se cargue pero espero por ti -->

    <div class="o-page-loader">
        <div class="o-page-loader--content">
            <div class="o-page-loader--spinner"></div>
            <div class="o-page-loader--message">
                <span>Cargando...</span>
            </div>
        </div>
    </div>



   

</body>
</html>