<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- fuentes desde google y conexiones a los css menu y header -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="menu_body.css">
  <link rel="icon" href="logos/logico_black.png" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



  <script defer src="funciones_menu.js"></script>

  <title>Gullieth</title>
</head>

<body>
<!-- header -->
  <header class="header">
    <div class="bottom-bar">
      <div class="bottom-bar__content">
        <a href="#" class="logo">
          <img class="logo__img" src="logo.png" alt="logo">

        </a>
    
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">Gullieth</a>
            </li>
            <li class="nav__item">
              <a class="nav__link ai" href="#">Gullieth AI <i class='bx bx-shape-triangle larger-icon' style="color: rgb(210, 184, 14);"></i></a>
            </li>
          
          
          </ul>
        </nav>
<!-- responsive -->

        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </header>

  <section >
    <div class="contenedor_raiz">

      <img class="img" src="carpeta.png" alt="">
      <div class="caja_titulo">
      <h1  >Tu Herramienta Mas Rapida</h1>
      <h3  >La Facilidad de la Innovacion en tus Manos</h3>
      <!-- boton -->

      <button class="boton-morado boton-animado">Empezar</button>
    </div>

    </div>

  </section>
  
</body>

</html>